#dependencies
/node_modules

#IDE - VSCode
/.vscode
/.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

#assets
/assets

#css
/css
/scss/*
/index.html

#js
/js
/index.js

#plugins
/plugins

#cache
/.cache

!/dist
/package-lock.json
/package.json
