.hero-title{
    font-size: 8rem;
    margin-bottom: 0rem !important;
}
.hero-subtitle{
    font-size: 4rem;
}
#aboutme figure {
    margin: auto;
}
#aboutme .media-content button{

}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    #aboutme figure {
        width: 20rem;
    }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}